
<div class="main-body">
  <div class="small-container">
    <h3 class="small-card">Sejong</h3>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-container">
        <div class="card-product">
          <h3 class="card-content">ICON IUSDC Testnet Faucet</h3>
          <p class="card-content">Your address can recieve max 100 IUSDC per minute</p>
          <span >
            <input type="text" class="input" placeholder="Please input your IUSDC address">
          </span>
          <p class="card-content">Current balance in this faucet is {{balance}} IUSDC</p>
          <div class="btn">
            <button class="button">Send me test IUSDC</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
